@import './../../../styles/variables.scss';

.pButton {
  @include border;
  height: 4.2rem;
  background-color: $yellow;
  color: $text;
  font-size: 3rem;
  letter-spacing: -0.15rem;
  font-family: $primaryFontBold;
  font-size: 3rem;
  padding: 0 2rem;
  cursor: pointer;
  transition: 300ms ;

  &:active {
    background-color: yellow;
  }
}
