@import './../../../styles/variables.scss';

.hWrapper {
  margin: 1.5% 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 3rem;
  grid-template-areas:
    'mTitle mDate'
    'mTitle iModule'
    'sField iModule'
    'nMention nMention';

  @include mobile() {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 2rem;
    grid-template-areas:
      'mTitle'
      'mTitle'
      'mDate'
      'sField'
      'iModule'
      'iModule'
      'nMention';
  }
}
