@import './../../../styles/variables.scss';

.hWrapper {
  margin: 1.5% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hTitleArea {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;

  @include mobile() {
    flex-direction: column;
    justify-content: center;
  }
}

.hInfoArea {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include mobile() {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}
