@import './../../../styles/variables.scss';

.hWrapper {
  margin: 1.5% 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 3rem;
  grid-template-areas:
    'mTitle mDate'
    'mTitle iModule'
    'sField iModule'
    'nMention iModule';

  @include mobile() {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 2rem;
    grid-template-areas:
      'mTitle'
      'mTitle'
      'mDate'
      'sField'
      'iModule'
      'iModule'
      'nMention';
  }
}

// .hTitleArea {
//   position: relative;
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: flex-start;
//   margin-bottom: 2rem;

//   @include mobile() {
//     flex-direction: column;
//     justify-content: center;
//   }
// }

// .hInfoArea {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-end;

//   @include mobile() {
//     width: 100%;
//     flex-direction: column;
//     justify-content: center;
//   }
// }
// .hWrapper {
//   margin: 1.5% 0;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
// }

// .hTitleArea {
//   position: relative;
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: flex-start;
//   margin-bottom: 2rem;

//   @include mobile() {
//     flex-direction: column;
//     justify-content: center;
//   }
// }

// .hInfoArea {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-end;

//   @include mobile() {
//     width: 100%;
//     flex-direction: column;
//     justify-content: center;
//   }
// }
