@import './../../../styles/variables.scss';


.navWrapper{
   @include mainContainer(0);
}
.navContent{
    margin-top: 4rem;
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $text;
}