@import './variables.scss';
@import './mixins.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;

  @include mobile() {
    font-size: 50%;
  }
}

html,
body {
  font-family: sans-serif, Arial, Helvetica;
  background-color: $primary;
  color: $text;
  font-family: $primaryFont;
}

a {
  color: inherit;
  text-decoration: none;
}
