@import "./mixins.scss";

// Colors
$text: hsl(0, 0%, 10%);
$primary: hsl(130, 100%, 84%);
$secundary: hsl(126, 100%, 73%);
$yellow: hsl(69, 100%, 74%);
$error: rgb(255, 121, 97);
$grey: hsl(150, 15%, 60%);

//Fonts
@include font('Roboto-Black', '../fonts/Roboto/Roboto-Black.woff', 'woff', '900');
@include font('Roboto-Bold', '../fonts/Roboto/Roboto-Bold.woff', 'woff', '700');
@include font('Roboto-Regular', '../fonts/Roboto/Roboto-Regular.woff', 'woff', '400');
@include font('Roboto-Medium', '../fonts/Roboto/Roboto-Medium.woff', 'woff', '500');
@include font('Roboto-Light', '../fonts/Roboto/Roboto-Light.woff', 'woff', '300');
@include font('Monserrat-Black', '../fonts/MonserratBlack/Montserrat-Black.woff', 'woff', '900');
@include font('RobotoSlab-Black', '../fonts/RobotoSlab/RobotoSlab-Black.woff', 'woff', '900');

$logoFont: 'Monserrat-Black';
$heroFont: 'RobotoSlab-Black';
$primaryFont: 'Roboto-Regular';
$primaryFontMedium: 'Roboto-Medium';
$primaryFontBold: 'Roboto-Bold';
$primaryFontBlack: 'Roboto-Black';
$primaryFontLight: 'Roboto-Light';

