@import './../../../styles/variables.scss';

.input {
  @include border;
  width: 100%;
  height: 4.2rem;
  background-color: white;
  font-size: 2rem;
  padding: 0.7rem;
  margin-right: 0.8rem;

  &::placeholder {
    color: $grey;
    font-size: 1.9rem;
    font-family: $primaryFontBold;
  }
}
