@import './../../../styles/variables.scss';

.errorWrapper {
  width: 14.2rem;
  height: 2.4rem;
  background-color: $error;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;

  p {
    @include bodyText($primaryFontBlack, 1.3rem);
    color: #75ff83;
  }
}
