@import './../../../styles/variables.scss';

.pTitle {
  font-family: $primaryFontBold;
  font-size: 3.6rem;
  line-height: 3.6rem;
  letter-spacing: -0.15rem;
  white-space: nowrap;
  margin-right: 1rem;

  @include mobile() {
    font-size: 3rem;
    letter-spacing: -0.1rem;
  }
}
