@import './../../../styles/variables.scss';

.moduleWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: iModule;
  padding: 1.5rem;
  background-color: hsla(126, 100%, 73%, 0.507);
  border-left: .1rem solid #82df8b ;
  border-top: .1rem solid #82df8b
}
.infoTitle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.titleDecoration {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0 0 0.5rem;
  hr:first-child {
    @include separator(0.4rem);
    margin-bottom: 0.2rem;
  }
  hr {
    @include separator(0.15rem);
  }
}
