@import './../../../styles/variables.scss';

.nmWrapper {
  width: 100%;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: nMention;
  border-bottom: solid 0.3rem $text;

  img {
    width: 20%;
    height: auto;
    margin: 0.5rem 0;
  }
  p {
    @include bodyText($primaryFontBold, 1.2rem);
  }

  @include mobile() {
    padding: 2rem 0;
    border-top: dashed .1rem $text;
    border-bottom: none;
    img {
      width: 35%;
    }
  }
}

.nmAnchors {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  text-decoration: underline;

  a {
    margin-bottom: 0.2rem;
  }

  @include mobile() {
    margin-top: 0.8rem;
    a {
      margin-bottom: 1rem;
    }
  }
}
