@import '../../../styles/variables.scss';

.title {
  position: relative;
  width: 100%;
  color: $text;
  font-family: $heroFont;
  font-size: 10rem;
  line-height: 9rem;
  letter-spacing: -0.3rem;
  grid-area: mTitle;
  
  p {
    @include mobile() {
      margin-right: 1.5rem;
    }
  }
  hr {
    @include separator(0.3rem);
    margin-top: 2.5rem;
  }

  @include mobile() {
    font-size: 6.5rem;
    line-height: 5.7rem;
    letter-spacing: -0.2rem;
  }
}
.hTitleTopRightDecoration {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 2rem solid $text;
  border-left: 2rem solid transparent;
}
